

.header {
    display: flex;
    position: relative;
    width: 100%;
    background: transparent;
  
    }
    .logo {
      flex: none;
      width: auto;
      display: flex;
      justify-content: center;
      padding: 0 16px;
    }
    .right-container {
      flex: none;
      margin-left: auto;
      display: flex;
      justify-content: center;
    }
    .logo-image {
      margin: 0 22px;
    }
    .lyp {
      color: $blue;
      //background: white;
      border: 1px solid $blue;
      padding: 0 32px;
      height: 48px;
      line-height: 40px;
      margin: auto 0;
      border-radius: 40px;
      //margin-left: 22px;
      margin-right: 22px;
    }
    .header-menu {
      height: 100%;
      display: flex;
      justify-content: center;
      color: $black;
      button, button:focus {
        color: inherit;
      }
      .btn-secondary:focus, .btn-secondary.focus {
        box-shadow: none;
      }
      &.show {
        button {
          background: transparent;
          border: 0;
        }
        .dropdown-toggle:focus {
          box-shadow: none;
        }
      }
      button {
        background: transparent;
        border: 0;
      }
    }
    
  
  .navbar{
    background:transparent;
  }